<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsAppWeatherForecast.WindowsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WindowsAppWeatherForecast.WindowsForm.Properties.Settings>
      <setting name="ClientToken" serializeAs="String">
        <value>f9a5f827-d5fe-4a3d-b4e6-703f49a4a6c7</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://localhost:5209</value>
      </setting>
      <setting name="AllSynopticDataEndpoint" serializeAs="String">
        <value>/alldata</value>
      </setting>
      <setting name="TownsListEndpoint" serializeAs="String">
        <value>/towns</value>
      </setting>
      <setting name="FullInfoTab" serializeAs="String">
        <value>Pełna informacja</value>
      </setting>
      <setting name="TownInfoTab" serializeAs="String">
        <value>Wybrane miasto</value>
      </setting>
      <setting name="PolandMapTab" serializeAs="String">
        <value>Mapa Polski</value>
      </setting>
      <setting name="ActionMenu" serializeAs="String">
        <value>Akcja</value>
      </setting>
      <setting name="AuthorMenu" serializeAs="String">
        <value>O autorze</value>
      </setting>
      <setting name="ExitMenu" serializeAs="String">
        <value>Wyjście</value>
      </setting>
      <setting name="GetFullDataButton" serializeAs="String">
        <value>Pobierz aktualne informacje pogodowe</value>
      </setting>
      <setting name="ChooseTownLabel" serializeAs="String">
        <value>Wybierz miasto</value>
      </setting>
      <setting name="AllDataTownEndpoint" serializeAs="String">
        <value>/alldatatown</value>
      </setting>
      <setting name="SynopticDataUrl" serializeAs="String">
        <value>/api/synopticdata</value>
      </setting>
      <setting name="AllDataTownsEndpoint" serializeAs="String">
        <value>/alldatatowns</value>
      </setting>
      <setting name="TownsTemperaturesEndpoint" serializeAs="String">
        <value>/townstemperatures</value>
      </setting>
      <setting name="TownsPressuresEndpoint" serializeAs="String">
        <value>/townspressures</value>
      </setting>
      <setting name="TownsHumiditiesEndpoint" serializeAs="String">
        <value>/townshumidities</value>
      </setting>
      <setting name="ServerStatusEndpoint" serializeAs="String">
        <value>/serverstatus</value>
      </setting>
      <setting name="ServerPingEndpoint" serializeAs="String">
        <value>/ping</value>
      </setting>
      <setting name="AccesUrl" serializeAs="String">
        <value>/api/access</value>
      </setting>
      <setting name="GetTemperaturesDataButton" serializeAs="String">
        <value>Temperatura</value>
      </setting>
      <setting name="GetPressuresDataButton" serializeAs="String">
        <value>Ciśnienie</value>
      </setting>
      <setting name="GetHumidityDataButton" serializeAs="String">
        <value>Wilgotność</value>
      </setting>
      <setting name="AppTitle" serializeAs="String">
        <value>Pogoda INFO</value>
      </setting>
      <setting name="LoadDataLabel" serializeAs="String">
        <value>Wczytaj aktualne dane</value>
      </setting>
      <setting name="CheckingAccess" serializeAs="String">
        <value>...sprawdzanie dostępu</value>
      </setting>
      <setting name="AuthorLabel" serializeAs="String">
        <value>Autor: Łukasz Krzos</value>
      </setting>
      <setting name="MessagePingError" serializeAs="String">
        <value>Błąd sprawdzania pingu</value>
      </setting>
      <setting name="MessageAvibilityError" serializeAs="String">
        <value>Błąd sprawdzania dostępności</value>
      </setting>
      <setting name="MessageServerNotResponse" serializeAs="String">
        <value>Serwer pogodowy nie jest dostępny! Spróbuj później!</value>
      </setting>
      <setting name="MessageGetSynopticDataError" serializeAs="String">
        <value>Błąd pobierania danych synoptycznych</value>
      </setting>
      <setting name="MessageDataDeserializationError" serializeAs="String">
        <value>Błąd deserializacji danych!</value>
      </setting>
      <setting name="MessageNotDataFound" serializeAs="String">
        <value>Brak danych.</value>
      </setting>
      <setting name="AuthorInfo" serializeAs="String">
        <value>Autorem aplikacji jest Łukasz Krzos. Może chesz go wesprzeć?</value>
      </setting>
      <setting name="HappyFace" serializeAs="String">
        <value>Dziękuję :)</value>
      </setting>
      <setting name="SadFace" serializeAs="String">
        <value>:(</value>
      </setting>
      <setting name="ExitInfo" serializeAs="String">
        <value>Czy na pewno chcesz wyjść z aplikacji?</value>
      </setting>
      <setting name="ActualizationData" serializeAs="String">
        <value>Data aktualizacji</value>
      </setting>
      <setting name="LoadDate" serializeAs="String">
        <value>Data odczytu</value>
      </setting>
      <setting name="TemperatudeLoaded" serializeAs="String">
        <value>Wczytano temperaturę.</value>
      </setting>
      <setting name="PressureLoaded" serializeAs="String">
        <value>Wczytano ciśnienie.</value>
      </setting>
      <setting name="HumidityLoaded" serializeAs="String">
        <value>Wczytano wilgotność.</value>
      </setting>
      <setting name="MessageServerNotWorks" serializeAs="String">
        <value>Serwer pogodowy nie odpowiada!</value>
      </setting>
      <setting name="ServerStatusOk" serializeAs="String">
        <value>OK</value>
      </setting>
    </WindowsAppWeatherForecast.WindowsForm.Properties.Settings>
  </userSettings>
</configuration>